::selection {
  color: white;
  background: rgba(48, 1, 51, 0.685);
}

#react-logo {
  animation: rotate 5s infinite linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}