/* src/locomotive.css */

/* Ensure that the scroll container has the correct styling */
[data-scroll-container] {
  height: auto !important;
  overflow: hidden;
  /* Prevents default browser scroll */
}

/* Add custom styles if needed */
[data-scroll-section] {
  padding: 5px;
}

/* Example: Smooth transitions for elements */
[data-scroll] {
  transition: transform 1s ease-out;
}

/* Additional Locomotive Scroll styles */
[data-scroll-direction="horizontal"] {
  white-space: nowrap;
  display: flex;
}

/* Optional: Scrollbar styles (if using custom scrollbar) */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(161, 86, 86), rgb(43, 43, 150));
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #E3DFDC;
}

html.dark ::-webkit-scrollbar-thumb {
  background: linear-gradient(rgb(100, 100, 255), rgb(43, 43, 150));
}

html.dark ::-webkit-scrollbar-track {
  background-color: #000;
}